
  <div class="search-bar">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input  matInput (keyup)="filter($event)">
    </mat-form-field>
    <div class="button-container">
      <button *ngIf="isTeamleaderAuthenticated" color="orange" mat-raised-button (click)="addRapport()" class="demo-button">
        AJOUTER RAPPORT
      </button>
    </div>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
  
    <ng-container matColumnDef="demande_de_sanction_id">
      <th mat-header-cell *matHeaderCellDef>DEMANDE DE SANCTION ID</th>
      <td mat-cell *matCellDef="let element">{{element.demande_de_sanction_id}}</td>
    </ng-container>

    <ng-container matColumnDef="userMatricule">
        <th mat-header-cell *matHeaderCellDef>USER MATRICULE</th>
        <td mat-cell *matCellDef="let element">{{element.user_matricule}}</td>
      </ng-container>
    
      <ng-container matColumnDef="salarieMatricule">
        <th mat-header-cell *matHeaderCellDef>SALARIE MATRICULE</th>
        <td mat-cell *matCellDef="let element">{{element.salarie_matricule}}</td>
      </ng-container>

      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef>FONCTION</th>
        <td mat-cell *matCellDef="let element">{{element.fonction}}</td>
      </ng-container>
    
      <ng-container matColumnDef="section">
        <th mat-header-cell *matHeaderCellDef>SECTION</th>
        <td mat-cell *matCellDef="let element">{{element.section}}</td>
      </ng-container>

      <ng-container matColumnDef="la_faut">
        <th mat-header-cell *matHeaderCellDef>LA FAUTE</th>
        <td mat-cell *matCellDef="let element">{{element.la_faut}}</td>
      </ng-container>
  
      <ng-container matColumnDef="dateCommis">
          <th mat-header-cell *matHeaderCellDef> DATE COMMIS</th>
          <td mat-cell *matCellDef="let element">{{element.date_commis| date: 'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="temoin">
            <th mat-header-cell *matHeaderCellDef>TEMOIN</th>
            <td mat-cell *matCellDef="let element">{{element.temoin}}</td>
          </ng-container>
      
     
          <ng-container matColumnDef="isValidated">
            <th mat-header-cell *matHeaderCellDef>VALIDATION</th>
            <td mat-cell *matCellDef="let element">{{element._validated}}</td>
          </ng-container>
      
          <ng-container matColumnDef="processedBySuperviseur">
              <th mat-header-cell *matHeaderCellDef>SUPERVISEUR PROCESS</th>
              <td mat-cell *matCellDef="let element">{{element.processed_by_superviseur}}</td>
            </ng-container>
          
            <ng-container matColumnDef="escalatedToRh">
              <th mat-header-cell *matHeaderCellDef>ESCALATION A RH</th>
              <td mat-cell *matCellDef="let element">{{element.escalated_to_rh}}</td>
            </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>DATE</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>
        
  
  
    <ng-container matColumnDef="afficher">
      <th mat-header-cell *matHeaderCellDef>AFFICHER</th>
      <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="showDetails(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsTeamLeader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTeamLeader;"></tr>
  
  </table>
  <mat-paginator  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of users">
</mat-paginator>
  
