<div class="center-container">
    <mat-card>
      <mat-card-header >
        <mat-card-title class="center-element">
          <span class="span">DEMANDE ID  </span>{{rapport.demande_de_sanction_id}}
        </mat-card-title>
        <mat-card-title class="center-element">
          <span class="span">USER MATRICULE  </span>{{rapport.user_matricule  }}
        </mat-card-title>
        <mat-card-title class="center-element">
          <span class="span">COMMENTAIRE  </span>{{rapport.commentaire}}
        </mat-card-title>
  
        <mat-card-title class="center-element">
          <span class="span">DESCISION  </span>{{rapport.decision_final}}
        </mat-card-title>
        
        <mat-card-title class="center-element">
          <span class="span">DATE  </span>{{rapport.date}}
        </mat-card-title>
        <mat-card-title class="center-element">
          <span class="span">VALIDATION  </span>{{rapport._validated}}
        </mat-card-title>
  
      </mat-card-header>  
    </mat-card>
  </div>
  