<mat-toolbar color="orange">
  <button mat-icon-button (click)="nav.toggle()"><mat-icon>apps</mat-icon></button>
  <span class="logo">
    <img src="assets/TELW.png" alt="Logo" style="max-height: 48px;">
  </span>
  <a *ngIf="isTeamleaderAuthenticated || isSuperviseurAuthenticated || isRhAuthenticated" [routerLink]="['demandes-de-sanction/getTeamLeaderRapports']">
    <button mat-button style="color: white;" >
      <mat-icon>person</mat-icon><span>TeamLeader</span>
    </button>
   
  </a>
  <a *ngIf="isSuperviseurAuthenticated || isManagerAuthenticated || isRhAuthenticated" [routerLink]="['demandes-de-sanction/getSuperviseurRapports']">
    <button mat-button style="color: white;">
      <mat-icon>person</mat-icon><span>Superviseur</span>
    </button>
   
  </a>
  <a *ngIf="isManagerAuthenticated || isRhAuthenticated" [routerLink]="['demandes-de-sanction/getManagerRapports']">
    <button mat-button style="color: white;">
      <mat-icon>person</mat-icon><span>Manager</span>
    </button>
  </a>
  <a *ngIf="isRhAuthenticated || isRhPlusAuthenticated" [routerLink]="['demandes-de-sanction/getRhRapports']">
    <button mat-button style="color: white;">
      <mat-icon>person</mat-icon><span>RH</span>
    </button>
   
  </a>
  <a *ngIf="isRhPlusAuthenticated" [routerLink]="['demandes-de-sanction/getRhPlus1Rapports']">
    <button mat-button style="color: white;">
      <mat-icon>person</mat-icon><span>RH+</span>
    </button>
   
  </a>
  <a *ngIf="isRhAuthenticated || isRhPlusAuthenticated" [routerLink]="['salaries']">
    <button mat-button style="color: white;">
      <mat-icon>people</mat-icon><span>salaries</span>
    </button>
   
  </a>
  <a *ngIf="isRhAuthenticated || isRhPlusAuthenticated" [routerLink]="['users']">
    <button mat-button style="color: white;">
      <mat-icon>people</mat-icon><span>users</span>
    </button>
   
  </a>
  <div class="extra"></div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper" >
  <mat-sidenav  #nav> 
   
    <a *ngIf="isMesuresDisciplinairesUserAuthenticated" [routerLink]="['demandes-de-sanction']">
      <button mat-button color="primary">
        <mat-icon>report</mat-icon><span>disciplinaire</span>
      </button>
    </a>

    <a *ngIf="isServiceMedicalUserAuthenticated" [routerLink]="['service-medical']">
      <button mat-button color="primary">
        <mat-icon>local_pharmacy</mat-icon><span> medical</span>
      </button>
     
    </a>

    <a *ngIf="!isUserAuthenticated" [routerLink]="['login']">
      <button mat-button color="primary">
        <mat-icon>login</mat-icon><span>login</span>
      </button>
     
    </a>
    <a *ngIf="isUserAuthenticated" [routerLink]="['logout']">
      <button mat-button color="primary">
        <mat-icon>logout</mat-icon><span>logout</span>
      </button>
     
    </a>
  </mat-sidenav>
  <mat-sidenav-content> 
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


